.profilecontainer{
    color: #03566f;
    text-align: center;
    background-image: url(../../../public/assets/regi.jpg);
    background-attachment: fixed ;
    font-family: 'Berkshire Swash', cursive;
    display: flex;
    font-size: 25px;
    color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}

.profile{
    
}