.register{
  color: #03566f;
    text-align: center;
    background-image: url(../../../public/assets/regi.jpg);
    background-attachment: fixed ;
    font-family: 'Berkshire Swash', cursive;
    display: flex;
    font-size: 25px;
    color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
}

.ant-form {
  font-family: 'Old Standard TT', serif;
  font-size: 18px;
}

.ant-form-item {

  font-family: 'Berkshire Swash', cursive;
  font-size: 18px;
}

.formuser{
  font-family: 'Berkshire Swash', cursive;
  font-size: 18px;
}

.saludo{

  font-family: 'Berkshire Swash', cursive;
  font-size: 20px;
}

.bienvetwit{
  font-family: 'Berkshire Swash', cursive;
  color:#095271;
  font-size: 30px;
}

.userForm{

  display:flex;
  flex-direction: column;   
  margin-right:300px

}
